body {
    background-image: url(sky.jpg);
    background-attachment: fixed;
    background-size: cover;
    padding: 0%;
    margin: 0%;
    position: relative;
    box-sizing: border-box;
    aspect-ratio:initial;
    user-select:none;
    font-family: Calibri;
}

#orientation-warning {
    position: fixed;
    top: 0; left: 0; width: 100vw; height: 100vh;
    background: #121212; /* Твой темный цвет */
    color: white;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#head {

    width: 100%;
    height: 6vw;
    background-color: rgb(14, 91, 255);
    position: fixed;
    top: 0;
}
#name {
    height: 4.5vw;
    width: 15%;
    float: left;
}
#main_name {
    font-family: Calibri;
    font-size: 3vw;
    color: white;
    margin-left: 1.5vw;
    margin-top: 0.3vw;
}
#us {
    height: 4.5vw;
    width: 8%;
    float: left;
    margin-left: 3vw;

}
#prjkts {
    height: 4.5vw;
    width: 8%;
    float: left;

}
#head_txt {
    color: #ffffff;
    font-size: 1vw;
    text-align: center;
    margin-top: 1.7vw;

}
#head_txt:hover {
    color: #ffffff;
    font-size: 1.1vw;
    text-align: center;
    margin-top: 1.65vw;
}

a {
    text-decoration: none ;
    color: #ffffff;
}

#tg {
    height: 4.5vw;
    width: 4.5vw;
    float: right;
    margin-right: 4vw;
}
#tg_pic {
    width: 4vw;
    height: 4vw;
    margin: 0.3vw;

}
#tg_pic:hover {
    width: 3.5vw;
    height: 3.5vw;
    margin: 0.5vw;

}

#minecrafto {
    height: 4.5vw;
    width: 4.5vw;
    float: right;
}
#mino_pic {
    width: 4vw;
    height: 4vw;
    margin: 0.3vw;
}
#mino_pic:hover {
    width: 3.5vw;
    height: 3.5vw;
    margin: 0.5vw;
}





#Empier {

    text-align: end;

}

#doz_t {
    color: rgb(14, 91, 255);
    font-family:Elephant;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 25%;
    font-size: 6vw;
    margin: 5%;
    padding-bottom: 0%;
    bottom: 0%;
}
#d_team {
    color: #ffffff;
    font-family: Elephant;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 0%;
    bottom: 0%;
}



.posts {

    box-sizing: border-box;
    background-color: #15141f;
    border: 0cap solid #ffffff;
    margin-top: 7%;
    box-sizing: border-box;
    height: 45vw;
    color: #15141f00;
    bottom: 0;


}

#headline {
    padding: 4vw;
    font-size: 2.2vw;
    font-family: Calibri;
    overflow: hidden;
}

.op {

    color: aliceblue;

}

#pics {

    margin: 3%;
    background-color: rgba(0, 255, 255, 0);
    height: 28vw;
    width: 93%;

}

.about_us {

    color: rgb(18, 20, 37);
    background-color: rgb(33, 33, 54);
    width: 60%;
    height: 28vw;
    border-radius: 1vw;
    float: left;

}

#coma {opacity: 0; font-size: 0.3vw;}


#pic_text {

    background-color: rgba(0, 0, 0, 0);
    width: 49vw;
    height: 20vw;
    margin: 2.9vw;
}
.about_us:hover {
    
    box-shadow: 0.1vw 0.1vw 0.2vw rgb(255, 255, 255);
}

#pic {

    background-color: rgb(117, 117, 117);
    image-orientation: cover;
    width: 20vw;
    height: 20vw;
    float:left;
    
}
#blya {
    width: 20vw;
    height: 20vw;
}

#text_about {

    background-color: rgba(63, 52, 73, 0);
    height: 20vw;
    width: 29vw;
    float: left;
    font-family: Calibri;
    color:#ffffff ;
    

}

#pre {

    text-align: center;
    font-size: 1.5vw;
    font-weight: bold;

}

#general {

    margin: 2vw;
    font-size: 1.2vw;
}

#choose_page {

    width: 33%;
    height: 28vw;
    float: left;
}
#circle_1 {

    background-color: rgb(33, 33, 54);
    border: 0.1vw solid white;
    border-radius: 7vw;
    margin-top: 6vw;
    margin-right: 1vw;
    margin-left: 6vw;
    width: 7vw;
    height: 7vw;
    float: left;

}
#circle_1:hover {
    border: 0.2vw solid white;
}
#circle_2:hover {
    border: 0.2vw solid white;
}

#circle_2 {

    background-color: rgb(33, 33, 54);
    border: 0.1vw solid white;
    border-radius: 7vw;
    margin-top: 6vw;
    margin-right: 6vw;
    margin-left: 1vw;
    width: 7vw;
    height: 7vw;
    float: left;
}

#tringle_2 {
    
    width: 0;
    height: 0;
    border-top: 2.5vw solid transparent;
    border-bottom: 2.5vw solid transparent;
    border-left: 3.5vw solid #217ffa; /* цвет треугольника */
    border-right: 0 solid transparent;
    position: static;
    margin-top: 1.05vw;
    margin-left: 2.3vw;
}
#tringle_1 {
    
    width: 0;
    height: 0;
    border-top: 2.5vw solid transparent;
    border-bottom: 2.5vw solid transparent;
    border-right: 3.5vw solid #217ffa; /* цвет треугольника */
    border-left: 0 solid transparent;
    position: static;
    margin-top: 1.05vw;
    margin-left: 1.2vw;
}



#f {opacity: 0}
#text_1 {
    margin: 1.8vw;
    margin-top: 0;
    font-size: 3vw;
    font-weight: bold;
    position: absolute;
}




#block_O {


    margin-bottom: 0;
    margin-left: 10.4vw;
    height: 2vw;
    width: 10vw;
    position: absolute;
    margin-top: 14vw;

}
#small_1O {

    background-color: rgb(33, 33, 54);
    height: 0.5vw;
    width: 0.5vw;
    border: 0.1vw solid white;
    border-radius: 0.5vw;
    float: left;
    margin: 1vw;
    margin-top: 5vw;
}
#small_2O {
    float: left;
    background-color: rgb(33, 33, 54);
    height: 0.5vw;
    width: 0.5vw;
    border: 0.1vw solid white;
    border-radius: 0.5vw;
    margin: 1vw;
    margin-top: 5vw;
}
#small_3O {
    float: left;
    background-color: rgb(33, 33, 54);
    height: 0.5vw;
    width: 0.5vw;
    border: 0.1vw solid white;
    border-radius: 0.5vw;
    margin: 1vw;
    margin-top: 5vw;
}
.small_12O {

    background-color: rgb(33, 33, 54);
    height: 0.5vw;
    width: 0.5vw;
    border: 0.2vw solid white !important;
    border-radius: 0.5vw;
    float: left;
    margin: 1vw;
    margin-top: 5vw;
}
.small_22O {
    float: left;
    background-color: rgb(33, 33, 54);
    height: 0.5vw;
    width: 0.5vw;
    border: 0.2vw solid white !important;
    border-radius: 0.5vw;
    margin: 1vw;
    margin-top: 5vw;
}
.small_32O {
    float: left;
    background-color: rgb(33, 33, 54);
    height: 0.5vw;
    width: 0.5vw;
    border: 0.2vw solid white !important;
    border-radius: 0.5vw;
    margin: 1vw;
    margin-top: 5vw;
}
#projects {
    background-color: rgb(33, 33, 54);
    font-size: 2.8vw;
    text-align: center;
    font-family: Calibri;

}



#second_place {

    width: 100%;
    height: 48vw;
    top: 0;
}

#our_projects {

    width: 64%;
    height: 45vw;
    margin-top: 2.65vw;
    margin-bottom: 4vw;
    margin-left: 17.5vw;
    
}

.projects {
    background-color: #15141f;
    border-radius: 2vw;

}

.projects:hover {box-shadow: 0.1vw 0.1vw 0.2vw rgb(255, 255, 255)}

#project1 {
    height: 22vw;
    width: 33%;
    float: left;
    margin-right: 0.495%;
    margin-bottom: 0.3vw;
    margin-top: 1vw;
    
}
#project2 {
    height: 22vw;
    width: 33%;
    float: left;
    margin-right: 0.495%;
    margin-bottom: 0.3vw;
    margin-top: 1vw;
}
#project3 {
    height: 22vw;
    width: 33%;
    float: left;
    margin-bottom: 0.3vw;
    margin-top: 1vw;
}
#project4 {
    height: 22vw;
    width: 33%;
    float: left;
    margin-right: 0.495%;
    margin-bottom: 0.3vw;
}
#project5 {
    height: 22vw;
    width: 33%;
    float: left;
    margin-right: 0.495%;
    margin-bottom: 0.3vw;
}
#project6 {
    height: 22vw;
    width: 33%;
    float: left;
    margin-bottom: 0.3vw;
}

.svg_txt {

    margin: 2vw;
    width: 80%;
    height: 18vw;

}
.project_icons {

    width: 100%;
    height: 8vw;
    
}
.size_svg {
    width: 100%;
    height: 8vw;
}

.project_txt {

    width: 100%;
    height: 10vw;
    background-color: lightskyblue;

}
#txt_txt {

    color: #ffffff;
    font-family: Calibri;
    font-size: 2vw;
    text-align: center;

}

footer {
    background-color: #15141f;
    width: 100%;
    height: 10vw;
    color:black;
    text-align: left;
    font-size: 3vw;
    bottom: 0%;
}




#logo_foot {
max-width: 30%;
height: 6.65vw;
font-family:Elephant;
padding-top: 3vw;
padding-left: 1vw;
float: left;


}

#color_blue_foot {
color: #217ffa;
}
#color_white_foot{
color: #ffffff;
}

#page_info_foot {
    width: 10%;
    height: 9.65vw;
    /*background-color: aqua; */
    float: left;
    color: #ffffff;
    font-size: 0.7vw;
    font-family: Calibri;
    text-align: left;
    margin-left: 5vw;
}

#projects_foot{
    width: 10%;
    height: 9.65vw;
    /* background-color: coral; */
    float: left;
    color: #ffffff;
    font-size: 0.7vw;
    font-family: Calibri;
    text-align: left;
    margin-left: 5vw;
}

#contacts {
    width: 10%;
    height: 9.65vw;
    float: left;
    color: #ffffff;
    font-size: 0.7vw;
    font-family: Calibri;
    text-align: left;
    margin-left: 5vw;

}
